@{
	ViewData["Title"] = "Contacts";
}

<section id="contacts">
	<h2 class="subtitle">Contacts</h2>
	<hr>
	<div class="contacts">
		<div class="contact">
			<img src="~/images/email-small.png"
				 alt="email logo"><span>rykowski.krzysztof@gmail.com</span>
		</div>
		<div class="contact"><img src="~/images/phone-call.png" alt="phone logo"><span>886 332 522</span></div>
		<div class="contact">
			<a href="https://github.com/chrisryk">
				<img src="~/images/github-small.png"
					 alt="github logo">https://github.com/chrisryk
			</a>
		</div>
	</div>
</section>