@{
	ViewData["Title"] = "Education";
}

<section id="education">
	<h2 class="subtitle">Education</h2>
	<hr>
	<div class="education">
		<img src="~/images/wmii.png" alt="university of lodz logo">
		<div>
			<span>10.2021 - present</span>
			<h3>University of Lodz, Faculty of Mathematics and Computer Science</h3>
			<h4>Computer Science</h4>
			<span>Postgraduate studies</span>
		</div>
	</div>
	<hr>
	<div class="education">
		<img src="~/images/wpia.jpg" alt="university of lodz logo">
		<div>
			<span>10.2014 - 12.2017</span>
			<h3>University of Lodz, Faculty of Law and Administration</h3>
			<h4>Employment law, human resources and earnings</h4>
			<span>Master degree</span>
		</div>
	</div>
	<hr>
	<div class="education">
		<img src="~/images/wpia.jpg" alt="university of lodz logo">
		<div>
			<span>10.2011 – 07.2014</span>
			<h3>University of Lodz, Faculty of Law and Administration</h3>
			<h4>Social policy</h4>
			<span>Bachelor degree</span>
		</div>
	</div>
</section>