@{
	ViewData["Title"] = "Experience";
}

<section id="experience">
	<h2 class="subtitle">Work experience</h2>
	<hr>
	<div class="experience">
		<span>06.2021 – present</span>
		<h3>Musician</h3>
		<span>Seasonal and special events guitarist.</span>
	</div>
	<hr>
	<div class="experience">
		<span>10.2018 – 08.2020</span>
		<h3>Sole proprietorship – Cosmetics services</h3>
		<span>Cosmetics services, own business accounting.</span>
	</div>
	<hr>
	<div class="experience">
		<span>07.2014 – 08.2015</span>
		<h3>Customer Advisor</h3>
		<h4>CHPM Sp. z o.o.; Riff Music Store in Lodz</h4>
		<span>
			Individual and institutional customers service, orders preparation, sales and orders documentation
			control, competition control.
		</span>
	</div>
</section>