@{
	ViewData["Title"] = "Summary";
}

<section id="summary">
	<h2 class="subtitle">Summary</h2>
	<hr>
	<p>
		I participate in Computer Science postgraduate studies at the Faculty of Mathematics and
		Computer Science at the University of Lodz. My main goals are learning and developing
		programming skills in C#, SQL and web applications using HTML, CSS, JavaScript and ASP.NET.
	</p>
</section>