@{
	ViewData["Title"] = "Languages";
}

<section id="languages">
	<h2 class="subtitle">Languages</h2>
	<hr>
	<div>
		<h3>English</h3>
		<span>intermediate</span>
		<br>
		<h3>Polish</h3>
		<span>native</span>
	</div>
</section>