@{
	ViewData["Title"] = "Skills";
}

<section id="skills">
	<h2 class="subtitle">Skills</h2>
	<hr>
	<h3>Basic knowledge:</h3>
	<div class="skills">
		<figure>
			<img src="~/images/c-sharp.png" alt="c-sharp logo">
			<figcaption>C#</figcaption>
		</figure>
		<figure>
			<img src="~/images/html-5.png" alt="html logo">
			<figcaption>HTML-5</figcaption>
		</figure>
		<figure>
			<img src="~/images/css-3.png" alt="css logo">
			<figcaption>CSS-3</figcaption>
		</figure>
		<figure>
			<img src="~/images/js.png" alt="js logo">
			<figcaption>JavaScript</figcaption>
		</figure>
		<figure>
			<img src="~/images/sql.png" alt="sql logo">
			<figcaption>SQL & PL/SQL</figcaption>
		</figure>
		<figure>
			<img src="~/images/github.png" alt="github logo">
			<figcaption>Git & GitHub</figcaption>
		</figure>
		<figure>
			<img src="~/images/oracle.png" alt="oracle logo">
			<figcaption>Oracle DB</figcaption>
		</figure>
		<figure>
			<img src="~/images/visual-studio.png" alt="oracle logo">
			<figcaption>Visual Studio 2022 & Visual Studio Code</figcaption>
		</figure>
	</div>
</section>